---
import "photoswipe/style.css";
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import WinUI from "./icons/WinUI.astro";
import Net8 from "./icons/Net8.astro";
import { ButtonGallery } from "./Gallery";
import Fluent from "./icons/Fluent.astro";
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "text-white bg-gray-900",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NET_8: {
    name: ".NET 8",
    class: "dark:bg-[#6747d9]/50 bg-[#6747d9] text-white",
    icon: Net8,
  },
  WINUI_3: {
    name: "WinUI 3",
    class: "bg-[#003159] text-white",
    icon: WinUI,
  },
  FLUENT_REACT: {
    name: "Fluent 2",
    class: "dark:bg-[#ffffff]/90 dark:text-black bg-zinc-200",
    icon: Fluent,
  },
};
const PROJECTS = [
  {
    title: "Inventory App",
    description:
      "App para llevar el inventario de equipos en una organización.",
    link: "",
    github: "",
    image: "/projects/InventoryApp/img-0.webp",
    tags: [TAGS.NEXT, TAGS.FLUENT_REACT],
    gallery: Array.from(
      { length: 5 },
      (_, index) => `/projects/InventoryApp/img-${index + 1}.webp`,
    ),
  },
  {
    title: "Baptism Book App - Registro de bautizados",
    description:
      "Aplicación para llevar el registro de los bautizados, está desarrollada en .NET8 con WinUI3.",
    link: "",
    github: "",
    image: "/projects/BaptismApp/img-0.webp",
    tags: [TAGS.NET_8, TAGS.WINUI_3],
    gallery: Array.from(
      { length: 5 },
      (_, index) => `/projects/BaptismApp/img-${index + 1}.webp`,
    ),
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(
      ({ image, title, description, tags, link, github, gallery }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50 border-none">
              <img
                alt="Recién llegado vs 5 años en Nueva Zelanda"
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                loading="lazy"
                src={image}
              />
            </div>
          </div>

          <div class="w-full md:w-1/2 md:max-w-lg">
            <h3 class="text-2xl font-bold">{title}</h3>
            <div class="flex flex-wrap mt-2">
              <ul class="flex flex-row mb-2 gap-x-2">
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex items-center gap-x-1 rounded-full text-xs ${tag.class} py-2 px-3`}
                    >
                      <tag.icon class="size-4"/>
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>

              <div class="mt-2">{description}</div>
              <footer class="flex items-end justify-start mt-4 gap-x-4">
                {github && (
                  <LinkButton href={github}>
                    <GitHub class="size-6" />
                    Code
                  </LinkButton>
                )}
                {link && (
                  <LinkButton href={link}>
                    <Link class="size-4" />
                    Preview
                  </LinkButton>
                )}
                {gallery && (
                  <ButtonGallery
                    id={title.replace(/\s+/g, "")}
                    data={gallery}
                    client:load
                  />
                )}
              </footer>
            </div>
          </div>
        </article>
      ),
    )
  }
</div>
